body {
    font-family: Arial, sans-serif;
    background: #e8e8e8;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    background: #fff;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
img{
    position: relative;
    width: 100px;
    left:35%;
    right:50%
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}